nav.navbar, .navbar-default {
  background: transparent !important;
  margin-bottom:0px;
  box-shadow: none;
}



.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}


nav.navbar.isScrolling,  .navbar-default.isScrolling {
  background: white !important;
  margin-bottom:0px;
  box-shadow: 1px -2px 8.3px -1px;
}
.isScrolling.navbar-default .navbar-brand, .isScrolling.navbar-default .navbar-nav > li > a {
  color: black;
}
.isScrolling.navbar-default .navbar-toggle {
  border-color:black;

}
.isScrolling.navbar-default .navbar-toggle .icon-bar {
  background-color: black;

}
